
/*=====================CONTENTS======================//

  1.0 General

  2.0 Panels

  3.0 Forms

  4.0 Tables

  5.0. Sidebar

//=====================================================*/

/*=====================1.0 - General======================*/
#dark .page-header {
    border-bottom: 1px solid #333;
}

#dark select,
#dark textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  background: #2c2c2c;
}

#dark .login-container.bg-white {
	background-color: #333;
}

#dark .header {
    background-color: #292929;
    border-bottom: 0px solid #ff0080;
}

#dark .header a {
    color: #b8b8b8;
}

#dark > body {

    background-color:#292929;
    /*color : #999;*/
		color: #fff;
}

#dark .page-container .page-content-wrapper {
		background-image: url(http://wallpaper.pickywallpapers.com/1920x1080/like-the-northern-lights.jpg);
		background-size: cover;
		background-attachment: fixed;
}

#dark .panel {
    /*background-color: #333;*/
		background-color: rgba(51, 51, 51, 0.6);
}

#dark h1,
#dark h2,
#dark h3,
#dark h4,
#dark h5,
#dark h6 {
  color: #FFF;
}

#dark .jumbotron {
        background-color: #333333;
}


#dark .nav-tabs > li.active > a,
#dark .nav-tabs > li.active > a:hover,
#dark .nav-tabs > li.active > a:focus {
	/*color: #ddd;*/
	color:#fff;
  /*background-color: rgba(230, 230, 230, 0.05);*/
	background-color: rgba(51, 51, 51, 0.5);
	/*border: 0px;*/
}

#dark .nav-tabs > li > a {
  /*color: #777;*/
	color: #999;
}

#dark .nav-tabs-simple > li:after {
  background-color: #3a92a9;
}

#dark .panel-heading a:not(.btn) {
  color: #ccc !important;
}

#dark .panel-group .panel-heading .panel-title > a:hover {
  color: #f5f5f5 !important;
}

/*widget panel Shadows*/
#dark .ar-1-1 {
  box-shadow: 1px 1px 7px 3px rgba(44, 44, 44, 0.3);
}

#dark .ar-2-1 {
  box-shadow: 1px 1px 7px 3px rgba(44, 44, 44, 0.3);
}


/*============================ 2.0 - Panels =============================*/
#dark .nav-tabs > li > a:hover,
#dark .nav-tabs > li > a:focus {
  background: rgba(51, 51, 51, 0.5);
  border-color: transparent;
  color: #fff;
}
#dark .nav-tabs > li > a {
	/*border-radius: 0;*/
  color: #ccc;
  /*border-color: rgba(0, 0, 0, 0.1);*/
}

#dark .panel-group .panel-heading .panel-title > a:after {
  color: #999;
  transition: all 0.6s;
}
.panel-group .panel-heading .panel-title > a:hover:after {
  color: #fff !important;
}

/*---------- end of panels ----------*/

/*========================== optional ==============================*/
.gradient-grey {
  background: none;
}

/*============================ 3.0 - FORMS============================*/

#dark .panel-title {
  color:#3a92a9;
}

#dark .form-group-default {
  background-color: #2c2c2c;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

#dark .dropzone {
  background: #2c2c2c;
}

#dark .form-control {

  color:#ccc;
}

#dark .form-group-default.focused {
  border-color: #3b4752 !important;
  background-color: #3f3f3f;
}

#dark .btn-default,
.btn-default:focus {
  color: #ccc;
  background-color: #2c2c2c;
  border-color: #4e4e4e;
}

#dark .btn-default,
.btn-default:focus {
		color: #ccc;
		background-color: #2c2c2c;
		border-color: #2c2c2c;
}
#dark .btn-default.active,
#dark .btn-default:active,
#dark .btn-default.active:focus,
#dark .btn-default:active:focus,
#dark .btn-default:active:hover {
	background-color: #212121;
    border-color: #333;
    color: #ccc; /*active*/
}
#dark .btn-default.hover,
#dark .btn-default:hover {
	background-color: #3a3737;
    border-color: rgb(50, 50, 50);
    color: #ffffff;
	}

#dark .form-group-default.has-error {
    background-color: rgba(255, 126, 122, 0.25);
  }

#dark .form-group-default.focused {
  border-color: rgba(72, 176, 247, 0.33) !important;
  background-color: #252525;
}

#dark .form-control {
  background-color: #2c2c2c;
	/*background-color: rgba(44, 44, 44, 0.5);*/
}
#dark .form-control:focus {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #252525;
}

#dark .form-horizontal .form-group {
  /*border-bottom: 1px solid #626262;*/
	border-bottom: 1px solid rgba(44, 44, 44, 0.3);
}

#dark .panel-footer{
    /*background-color: #2e2e2e;
    border-top: 1px solid #2c2c2c;*/

		background-color: rgba(46, 46, 46, 0.3);
    border-top: 1px solid  rgba(44, 44, 44, 0.4);
}

#dark .form-horizontal .form-group .control-label {

  opacity: 1;

}

/*======================== 4.0 - Tables =============================*/

#dark .table thead tr th {
  /*color: #777*/
	border-bottom: 1px solid rgba(44, 44, 44, 0.5);
	color: #FFF;
}


#dark .table thead tr th[class*='sorting_']:not([class='sorting_disabled']) {
  /*color: #337ab7;*/
	color:#48b0f7;
}


#dark .table-bordered>thead>tr>th {
	 border: 0px solid #ddd;
}

#dark .dataTables_wrapper .dataTables_paginate ul > li > a {
  color: #fafafa;
}

#dark .table tbody tr td {
  background: rgba(0, 0, 0, 0.35);
  border-bottom: 1px solid rgba(98, 98, 98, 0.4);
  color: #ccc;
}

/*table hover*/
#dark .table.table-hover tbody tr:hover td {
  background: rgba(51, 51, 51, 0.0) !important;
}

#dark .table-hover>tbody>tr:hover {
    /*background-color: rgba(245, 245, 245, 0);*/
		background-color: rgba(245, 245, 245, 0.25);
}

/*---striped table---*/
#dark .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.35);
}

#dark .table.table-striped tbody tr:nth-child(2n+1) td {
  background: rgba(0, 0, 0, 0.35) !important;
  background: rgba(0, 0, 0, 0.35);
}

#dark .table.table-striped tbody tr td {
  background: rgba(0, 0, 0, 0.35) !important;
}

#dark .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-right: 1px solid #333;
}


/*====================== 5.0 - Sidebar ======================*/
#dark .page-sidebar .sidebar-header {
  /* Side-bar header */
  background-color: #2c2c2c;
  border-bottom: 1px solid #3a92a9;
  color: #fff;

}
#dark .page-sidebar {
  background-color: #211f1f;
}

#dark .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu {
  display: none;
  list-style: none;
  clear: both;
  margin: 0 0 10px 0;
  background-color: #2c2c2c;
  padding: 18px 0 10px 0;
}

#dark.page-sidebar .sidebar-menu .menu-items li:hover > a,
#dark.page-sidebar .sidebar-menu .menu-items li.open > a,
#dark.page-sidebar .sidebar-menu .menu-items li.active > a {
  color: #ccc;
}

#dark.page-sidebar a,
#dark.page-sidebar button {
  color: #777;
}
#dark.page-sidebar a:visited,
#dark.page-sidebar button:visited,
#dark.page-sidebar a:focus,
#dark.page-sidebar button:focus {
  color: #777;
}

#dark.icon-thumbnail {
  color:#999;
}

#dark.page-sidebar .sidebar-menu .menu-items li:hover > .icon-thumbnail,
#dark.page-sidebar .sidebar-menu .menu-items li.open > .icon-thumbnail,
#dark.page-sidebar .sidebar-menu .menu-items li.active > .icon-thumbnail {
  color: #d4d4d4;
}

#dark.icon-thumbnail {
  background: #2c2c2c;
}

#dark.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li .icon-thumbnail {
  background-color: #232323;
}

#dark .input-group-addon {
  background: rgb(16, 207, 110);
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: #3b4752;
}


/*on mobile*/

@media (max-width: 991px){
  .header {
    background: #2c2c2c !important;
  }
}
